@import "tailwindcss";

@theme {
  --color-brand-1: #7a1313;

  --font-brand-primary: "Primary";
  --font-brand-secondary: "Secondary";

  --animate-zoom: zoom 7s ease;
  --animate-leftToRight: leftToRight 0.4s ease-out;
}

/* FUENTE 1 */
@font-face {
  font-family: "Primary";
  src: url("/fonts/font-1.woff2") format("woff2");
  font-weight: 400;
}

/* FUENTE 2 */
@font-face {
  font-family: "Secondary";
  src: url("/fonts/font-2.woff2") format("woff2");
  font-weight: 400;
}
body {
  font-family: var(--font-brand-primary);
}

button {
  cursor: pointer;
}

li {
  width: 100%;
}

/* ANIMATION ZOOM */
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

/* ANIMATION ROTATE TO ALL SIDES */
@keyframes leftToRight {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
