@import "tailwindcss";

@theme {
  --color-brand-1: #7a1313;

  --font-brand-primary: "Primary";

  --animate-zoom: zoom 7s ease;
}

/* FUENTE 1 */
@font-face {
  font-family: "Primary";
  src: url("/fonts/font-1.woff2") format("woff2");
  font-weight: 400;
}

body {
  font-family: var(--font-brand-primary);
}

/* ANIMATION ZOOM */

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
