---
import Carousel from "@components/ui/carousel";
import Layout from "@layout/Layout.astro";
---

<Layout>
  <section class="flex flex-col items-center mt-5 mb-3 text-brand-1">
    <h1 class="text-3xl">¡Bienvenidos!</h1>
    <h2>Eventos, cuadros, diseño.</h2>

    <Carousel client:load />
  </section>
</Layout>
