<header
  class="flex justify-center gap-5 text-white [&>a]:bg-brand-1 [&>a]:px-4 [&>a]:py-1 [&>a]:rounded-md [&>a]:outline-2 [&>a]:outline-brand-1"
>
  <a href="/">Inicio</a>
  <a href="/products">Productos</a>
  <a href="">Contacto</a>
</header>
