---
import Header from "@components/header.astro";
import PreHeader from "@components/pre-header.astro";
import "@styles/global.css";
import { ClientRouter } from "astro:transitions";
interface Props {
  pageName?: string;
}
const { pageName } = Astro.props;

const defaultTitle = "Celina RGL Fotografía";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" type="xml+svg" />
    <ClientRouter fallback="none" />
    <title>{pageName ?? defaultTitle}</title>
  </head>
  <body class="max-w-4xl mx-auto min-h-screen flex flex-col">
    <Header />

    <PreHeader />
    <main class="px-2 max-w-2xl mx-auto flex flex-grow">
      <slot />
    </main>
  </body>
</html>
