---
import Header from "@components/header.astro";
import PreHeader from "@components/pre-header.astro";
import { ClientRouter } from "astro:transitions";
import { Toaster } from "react-hot-toast";
import "@styles/global.css";
import Footer from "@components/footer.astro";
interface Props {
  pageName?: string;
}
const { pageName } = Astro.props;

const defaultTitle = "Celina RGL Fotografía";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" type="xml+svg" />
    <ClientRouter fallback="none" />
    <title>{pageName ?? defaultTitle}</title>
  </head>
  <body class="max-w-6xl w-fit mx-auto min-h-screen flex flex-col">
    <Header />

    <PreHeader />
    <main class="px-2 max-w-4xl w-full mx-auto flex flex-grow">
      <slot />
    </main>

    <Footer />
    <Toaster
      position="top-center"
      reverseOrder={false}
      gutter={8}
      toastOptions={{
        // Define default options
        className: "",
        duration: 5000,
        removeDelay: 1000,
        style: {
          background: "var(--color-brand-1)",
          color: "#fff",
        },

        // Default options for specific types
        success: {
          duration: 2000,
          iconTheme: {
            primary: "green",
            secondary: "black",
          },
        },
      }}
      client:load
    />
  </body>
</html>
